<div class="wa-container">
    <a href="https://wa.me/51998001467" class="wa-link">
        <img src="/assets/images/logo-whatsapp-png-46048.png" style="height: 70px;"/>
    </a>
</div>

<footer>
    <h1>© AromaCoffee</h1>
</footer>