<header>
    <nav>
      <div class="logo"><img src="/assets/images/logo_aromacoffee_sinicon_sm-removebg-preview.png"></div> 
        <div class="barnav">
          <div><a href="/api/home">Tienda</a></div>
          <div><a href="/api/about-us">Nosotros</a></div>
          <div><a href="/api/contact">Contacto</a></div>
          <div id="account"><a href="/api/login">Cuenta</a></div>
          <div><a href="/api/cart"><i class="fa fa-shopping-cart"></i></a></div>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-cog"></i>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/api/admin-user">Administrador usuarios</a></li>
              <li><a class="dropdown-item" href="/api/admin-product">Administrador productos</a></li>
            </ul>
          </div>
        </div>
    </nav>
</header>