<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/cart.css">

    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <!-- Include a required theme -->
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
</head>
<body>
    
    <%- include('../partials/header') %>

    <!-- Configuración carrito -->
    <div class="container">
		<div class="main">
        	<div class="container-cart">
            	<h1>Orden de compra:</h1>
                <table class="table-cart">
                    <thead>
                        <tr>
                          <th class="th-table-cart">Image</th>
                          <th class="th-table-cart">Producto</th>
                          <th class="th-table-cart">Cantidad</th>
                          <th class="th-table-cart">Precio</th>
                          <th class="th-table-cart">Subtotal</th>
                          <th class="th-table-cart"></th>
                        </tr>
                    </thead>
                    <tbody class="cart-content">
                        
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="th-table-cart"></th>
                            <th class="th-table-cart"></th>
                            <th class="th-table-cart"></th>
                            <th class="th-table-cart">Total</th>
                            <th class="th-table-cart total"></th>
                            <th class="th-table-cart"></th>
                        </tr>
                    </tfoot>
                </table>
                
                <div class="container-cart-button">
                	<a href="#" class="button-cart">Comprar</a>                
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/cart.js"></script>
    <script src="/js/header.js"></script>

</body>
</html>